<!DOCTYPE html>

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Himawari</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/entries.css' %}" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{% static 'app/images/favicon.ico' %}"/>
</head>
<body>
    <div id="container">
        {% include 'app/header.html' %}
        <div id="content" class="container body-content">
{% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            {%include 'app/sidebar.html' %}
        </div>
        <div id="footer">
            {% include 'app/footer.html' %}
        </div>
    </div>
</body>
</html>
